@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&family=Yeseva+One&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
}

body {
    overflow: hidden;
}

ul {
    list-style-type: none;
}

/* voilet-gradient */
.violet-gradient {
    background: #804dee;
    background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
    background: -webkit-linear-gradient(-90deg,
            #804dee 0%,
            rgba(60, 51, 80, 0) 100%);
}